.main {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Roboto";
}
.menuItems {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.logo {
  margin: 36px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  p {
    font-size: 36px;
    font-family: "Manji";
    text-align: center;
  }
}
