.menuPage{
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
  justify-content: center;
}
.menuPageTitle{
  font-size: 24px;
  font-weight: 600;
  font-family: "Manji";
  text-align: left;
}
.menuPageItems{
  display: grid;
  gap: 16px;
  width: 100%;
  &.drink{
    grid-template-columns: repeat(2, 1fr);
  }
  &.food{
    grid-template-columns: repeat(1, 1fr);
  }
}
.menuPageDescription{
  grid-column: 1 / -1;
  display: flex;
  align-items:center;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
}
.divider{
  height: 1px;
  width: 100%;
  background-color: black;
}