.card {
  width: 100%;
  max-width: 768px;
  overflow: hidden;
  .card__header {
    cursor: pointer;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: inherit;
    .card__title {
      font-size: 1rem;
      font-weight: 600;
      text-align: left;
    }
    .card__closeIcon {
      cursor: pointer;
      width: 24px;
      height: 24px;
    }
  }
  .card__body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
  }
}
