.drinkItem {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: start;
  .drinkTitle {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: left;
  }
  .drinkPrice {
    font-size: 1.25rem;

  }
  .drinkDescription {
    font-size: 14px;
    font-weight: 400;
  }
}
