.playButton {
  background: none;
  border: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0;
  .svgClass {
    fill: white;
    width: 100%;
    height: 100%;
  }
}
