.layout {
  width: 100%;
  min-height: 100vh;
  background-color: burlywood;
  position: relative;
}
.header{ 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #e0e0e0;
  background-color: #f0f0f0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.headerLogo{
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 600;
  font-family: "Manji";
  h1{
    font-size: 24px;
    font-weight: 600;
    font-family: "Manji";
  }
}
.headerBack{
  position: absolute;
  left: 12px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
}
.content{ 
  padding: 16px;
}