.layout {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  position: relative;
}
.header{ 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #e0e0e0;
  background-color: #f0f0f0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  p{
    font-family: "Manji";
  }
}
.headerBack{
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.content{ 
  padding: 16px;
}