.card__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  .card__item__image {
    background: black;
    width: 100%;
    aspect-ratio: 21/9;
  }
  .card__item__header {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }
  .card__item__body {
    display: flex;
    flex-direction: column;
  }
}
