.menuPageItem{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  padding: 16px;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  border-radius: 8px;
  max-width: 100%;
  img{
    width: 100%;
    height: auto;
    object-fit: contain;
    &.drink{
      aspect-ratio: 1/1;
    }
    &.food{
      aspect-ratio: 1.66666666666;
      margin-bottom: 32px; 
    }
  }
}
.menuPageItemContent{
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  justify-content: space-between;
  width: 100%;
  .menuPageItemTitle{
    font-size: 20px;
    font-weight: 600;
  }
  .menuPageItemDescription{
    font-size: 16px;
    width: 100%;
  }
  .menuPageItemFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menuPageItemPrice{
    font-size: 18px;
    font-weight: 600;
    color: #ff9017;
  }
  .menuPriceItemKofte{
    font-size: 14px;
    color: #ff9017;
    width: 50%;
    text-align: right;
  }
}
.menuItemImageContainer{
  position: relative;
}
.menuPageAdditionalInfo{
  padding: 8px;
  background-color: #ff901744;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  width: auto;
  max-width: max-content;
  color: black;
}