.menuButton {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  border-radius: 4px;
  background-color: burlywood;
  aspect-ratio: 1/1;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}