.menuPageItem{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  padding: 16px;
  background-color: white;
  &.food:not(:last-child){
    border-bottom: 1px solid rgba(0,0,0,0.7);
  }
  img{
    width: 100%;
    height: auto;
    object-fit: contain;
    &.drink{
      aspect-ratio: 1/1;
    }
    &.food{
      aspect-ratio: 1.66666666666;
      margin-bottom: 32px; 
    }
  }
}
.menuPageItemContent{
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  justify-content: space-between;
  .menuPageItemTitle{
    font-size: 20px;
    font-weight: 600;
  }
  .menuPageItemDescription{
    font-size: 16px;
  }
  .menuPageItemPrice{
    font-size: 18px;
    font-weight: 600;
    color: #ff9017;
  }
}
.menuItemImageContainer{
  position: relative;
}
.menuPageAdditionalInfo{
  padding: 8px;
  background-color: #ff901744;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  width: max-content;
  color: black;
}