.menuButton {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  border-radius: 4px;
  background-color: burlywood;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  width: auto;
  height: auto;
  img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  p {
    color: black;
    font-size: 16px;
    font-weight: 600;
  }
}