.sauceContainer {
  position: fixed;
  z-index: 3000;
  bottom: 0px;
  right: 0;
  padding: 8px;
  display: flex;
  .sauceOpener {
    background: #c64e1c;
    border-radius: 100%;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  }
}
