.variantSelector{
  display: flex;
  position: absolute;
  bottom: 12px;
  left: 8px;
  gap: 4px;
}
.variant{
  border: 1px solid black;
  border-radius: 999999px;
  padding: 8px;
  font-size: 12px;
  font-weight: 600;
  color: black;
  cursor: pointer;
  &.selected{
    background-color: black;
    color: white;
    border-color: black;
  }
}