.variantSelector{
  display: flex;
  position: absolute;
  bottom: 12px;
  left: -2px;
  gap: 4px;
}
.variant{
  border: 1px solid #ff9017;
  border-radius: 999999px;
  padding: 8px;
  font-size: 12px;
  font-weight: 600;
  color: #ff9017;
  cursor: pointer;
  &.selected{
    background-color: #ff9017;
    color: white;
    border-color: #ff9017;
  }
}